<div class="contenedor">
    <h2>Registros Inscritos</h2>
    <div class="busqueda">
        <input type="text" placeholder="Buscar">
        <button>Buscar</button>
    </div>
    <div class="contenedor-card" *ng-for="let registro of registros">
        <div class="card">
            <div class="campo">
                <label for="">Ref. {{registro.numero}}</label>
            </div>
            <div class="campo">
                <a href="#">Editar</a>
            </div>
            <div class="campo">
                <label for="">Nombre: {{registro.nombreUsuario}}</label>
            </div>        
            <div class="campo">
                <label for="">Estado: {{registro.estado}}</label>
            </div>
        </div>
    </div>
    <div class="agregar">
        <button id="btnAgregar" (click)="agregar()">
            <img class="cruz" src="../../assets/cruz-blanca.png" alt="agregar">
        </button>
    </div>
</div>