<div class="contenedor">
    <h2>Registros Inscritos</h2>
    <div class="busqueda">
        <input type="text" placeholder="Buscar">
        <button>Buscar</button>
    </div>
    <div class="contenedor-card">
        <div class="card">
            <div class="campo">
                <label for="">Ref. 31432432</label>
            </div>
            <div class="campo">
                <a href="#">Editar</a>
            </div>
            <div class="campo">
                <label for="">Nombre: Juan</label>
            </div>        
            <div class="campo">
                <label for="">Estado: .....</label>
            </div>
        </div>
    </div>
    <div class="agregar">
        <button id="btnAgregar">
            <img src="" alt="agregar">
        </button>
    </div>
</div>