<div class="body">
    <div class="contenedor">
        <div class="boxform">
            <div class="progress-bar">
                <div class="step">
                    <p>Paso1</p>
                    <div [class]="'bullet'+(page1?' active':'')">
                        <span>Icon1</span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
                <div class="step">
                    <p>Paso2</p>
                    <div [class]="'bullet'+(page2?' active':'')">
                        <span>Icon2</span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
                <div class="step">
                    <p>Paso3</p>
                    <div [class]="'bullet'+(page3?' active':'')">
                        <span>Icon2</span>
                    </div>
                    <div class="check fas fa-check"></div>
                </div>
            </div>

            <form [formGroup]="formulario" style="display: flex; flex-direction: column;">
                <div>
                    <div class="page" [hidden]="!page1">

                        <label class="titulo">Informacion del Usuario</label>
                        <div class="campo">
                            <input type="text" placeholder="Nombre Completo" formControlName="name">
                        </div>
                        <div class="campo">
                            <input type="text" placeholder="Celular" formControlName="tel">
                        </div>
                        <div class="campo">
                            <input type="text" placeholder="Correo" formControlName="email">
                        </div>
                        <div class="campo">
                            <input type="text" placeholder="Dirección" formControlName="dir">
                        </div>
                        <div class="campo">
                            <button class="next-0" (click)="NextPage(2)">Siguiente</button>
                        </div>
                        <div class="campo">
                            <a href="/usuario" class="cancelar">Cancelar</a>
                        </div>
                    </div>

                    <div class="page" [hidden]="!page2">
                        <label class="titulo">Informacion del Usuario</label>
                        <div class="campo">
                            <label for="">Fecha de solicitud</label>
                            <input type="date" class="date" formControlName="date">
                        </div>
                        <div class="campo">
                            <label for="">Captura del equipo</label>
                            <input type="file" accept="image/*" formControlName="imagen">
                        </div>
                        <div class="campo">
                            <label for="">Descripción</label>
                            <textarea name="descripcion" id="desc" cols="30" rows="10"
                                formControlName="specs"></textarea>
                        </div>
                        <div class="campo">
                            <button class="next-1" (click)="NextPage(3)">Siguiente</button>
                        </div>
                        <div class="campo">
                            <a (click)="NextPage(1)" class="prev-1">Volver</a>
                        </div>
                    </div>

                    <div class="page" [hidden]="!page3">
                        <label class="titulo">Especificaciones Tecnicas</label>
                        <div class="campo">
                            <input type="text" placeholder="Marca" formControlName="marca">
                        </div>
                        <div class="campo">
                            <input type="text" placeholder="Modelo" formControlName="modelo">
                        </div>
                        <div class="campo">
                            <input type="text" placeholder="Numero de Serie" formControlName="nserie">
                        </div>
                        <div class="campo">
                            <label for="">Especificaciones del equipo</label>
                            <textarea name="especificaciones" id="esp" cols="30" rows="10" formControlName="specsDis"></textarea>
                        </div>
                        <div class="campo">
                            <button class="next-2" (click)="SendData()">Finalizar</button>
                        </div>
                        <div class="campo">
                            <a (click)="NextPage(2)" class="perv-2">Volver</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>