<div class="body">
    <div class="contenedor">
        <div class="boxform">
            <form action="">
                <div class="page">
                    <div class="progress-bar">
                        <div class="step">
                           <p>Paso1</p>
                           <div class="bullet">
                              <span>Icon1</span>
                           </div>
                           <div class="check fas fa-check"></div>
                        </div>
                        <div class="step">
                           <p>Paso2</p>
                           <div class="bullet">
                              <span>Icon2</span>
                           </div>
                           <div class="check fas fa-check"></div>
                        </div>                        
                     </div>
                    <label class="titulo">Informacion del Usuario</label>
                    <div class="campo">
                        <input type="text" placeholder="Nombre Completo">
                    </div>
                    <div class="campo">
                        <input type="text" placeholder="Celular">
                    </div>
                    <div class="campo">
                        <input type="text" placeholder="Correo">
                    </div>
                    <div class="campo">
                        <input type="text" placeholder="Dirección">
                    </div>
                    <div class="campo">
                        <button class="next-0">Siguiente</button>
                    </div>
                    <div class="campo">
                        <a href="#" class="cancelar">Cancelar</a>
                    </div>
                </div>
    
                <div class="page">
                    <label class="titulo">Informacion del Usuario</label>
                    <div class="campo">
                        <label for="">Fecha de solicitud</label>
                        <input type="date" class="date">
                    </div>
                    <div class="campo">
                        <label for="">Captura del equipo</label>
                        <input type="file">
                    </div>
                    <div class="campo">
                        <label for="">Descripción</label>
                    </div>
                    <div class="campo">
                        <textarea name="descripcion" id="desc" cols="30" rows="10"></textarea>
                    </div>
                    <div class="campo">
                        <button class="next-1">Siguiente</button>
                    </div>
                    <div class="campo">
                        <a href="#" class="prev-1">Volver</a>
                    </div>
                </div>
    
                <div class="page">
                    <label class="titulo">Especificaciones Tecnicas</label>
                    <div class="campo">
                        <input type="text" placeholder="Marca">
                    </div>
                    <div class="campo">
                        <input type="text" placeholder="Modelo">
                    </div>
                    <div class="campo">
                        <input type="text" placeholder="Numero de Serie">
                    </div>
                    <div class="campo">
                        <label for="">Especificaciones del equipo</label>
                    </div>
                    <div class="campo">
                        <textarea name="especificaciones" id="esp" cols="30" rows="10"></textarea>
                    </div>
                    <div class="campo">
                        <button class="next-2">Finalizar</button>
                    </div>
                    <div class="campo">
                        <a href="#" class="perv-2">Volver</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
