<div class="body">
    <div class="contenedor">
        <div class="boxform">
            <form action="">
                <div class="page page1" *ngIf="m1">
                    <div class="progress-bar">
                        <div class="step">
                           <div class="bullet">
                              <span>Icon1</span>
                           </div>
                           <div class="check fas fa-check"></div>
                        </div>
                        <div class="step">
                           <div class="bullet">
                              <span>Icon2</span>
                           </div>
                           <div class="check fas fa-check"></div>
                        </div>                        
                     </div>
                    <label class="titulo">Informacion del Usuario</label>
                    <div class="campo">
                        <input type="text" placeholder="Nombre Completo">
                    </div>
                    <div class="campo">
                        <input type="text" placeholder="Celular">
                    </div>
                    <div class="campo">
                        <input type="text" placeholder="Correo">
                    </div>
                    <div class="campo">
                        <input type="text" placeholder="Dirección">
                    </div>
                    <div class="campo">
                        <button class="btn" (click)="siguiente1()">Siguiente</button>
                    </div>
                    <div class="campo">
                        <a href="#" (click)="cancelar()">Cancelar</a>
                    </div>
                </div>
    
                <div class="page page2" *ngIf="m2">
                    <div class="progress-bar">
                        <div class="step">
                           <div class="bullet">
                              <span>Icon1</span>
                           </div>
                           <div class="check fas fa-check"></div>
                        </div>
                        <div class="step">
                           <div class="bullet">
                              <span>Icon2</span>
                           </div>
                           <div class="check fas fa-check"></div>
                        </div>                        
                     </div>
                    <label class="titulo">Informacion del Usuario</label>
                    <div class="campo">
                        <label for="">Fecha de solicitud</label>
                        <input type="date" class="date">
                    </div>
                    <div class="campo archivo">
                        <label for="">Evidencia</label>
                        <input type="file" value="">
                    </div>
                    <div class="campo">
                        <textarea name="descripcion" id="desc" cols="30" rows="10"
                        placeholder="Descripción"></textarea>
                    </div>
                    <div class="campo">
                        <button class="next-1" (click)="siguiente2()">Siguiente</button>
                    </div>
                    <div class="campo">
                        <a href="#" class="prev-1" (click)="atras1()">Volver</a>
                    </div>
                </div>
    
                <div class="page page3" *ngIf="m3">
                    <div class="progress-bar">
                        <div class="step">
                           <div class="bullet">
                              <span>Icon1</span>
                           </div>
                           <div class="check fas fa-check"></div>
                        </div>
                        <div class="step">
                           <div class="bullet">
                              <span>Icon2</span>
                           </div>
                           <div class="check fas fa-check"></div>
                        </div>                        
                     </div>
                    <label class="titulo">Especificaciones Tecnicas</label>
                    <div class="campo">
                        <input type="text" placeholder="Marca">
                    </div>
                    <div class="campo">
                        <input type="text" placeholder="Modelo">
                    </div>
                    <div class="campo">
                        <input type="text" placeholder="Numero de Serie">
                    </div>
                    <div class="campo">
                        <textarea name="especificaciones" id="esp" cols="30" rows="10"
                        placeholder="Especificaciones"></textarea>
                    </div>
                    <div class="campo">
                        <button class="submit">Finalizar</button>
                    </div>
                    <div class="campo">
                        <a href="#" class="perv-2" (click)="atras2()">Volver</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
