<section>
    <div class="imgTec">
        <img src="../../assets/temp.jpg" alt="img">
    </div>
    <div class="contenido">
        <div class="formulario">
            <img src="../../assets/logo.png" alt="logo">
            <form action="">
                <div class="formbox">
                    <input type="text" placeholder="Usuario">
                </div>
                <div class="formbox">
                    <input type="text" placeholder="Contraseña">
                </div>
                <div class="formbox">
                    <input class="boton" type="submit" value="Ingresar">
                </div>
                <div class="formbox">
                    <a href="#">¿Has olvidado tu contraseña?</a>
                </div>
            </form>
        </div>
    </div>
</section>