<section>
    <div class="imgTec">
        <img src="../../assets/temp.jpg" alt="img">
    </div>
    <div class="contenido">
        <div class="formulario">
            <img src="../../assets/logo.png" alt="logo">
            <form [formGroup]="formulario">
                <div class="formbox">
                    <input type="text" placeholder="Email" formControlName="email">
                </div>
                <div class="formbox">
                    <input type="text" placeholder="Contraseña" formControlName="password">
                </div>
                <div class="formbox">
                    <input class="boton" type="submit" value="Ingresar" (click)="sendlogin()">
                </div>
                <div class="formbox">
                    <a href="#">¿Has olvidado tu contraseña?</a>
                </div>
            </form>
        </div>
    </div>
</section>