*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #7AF5D6;
}

.contenedor{
    width: 330px;
    background: white;
    border-radius: 30px;
    text-align: center;
    padding: 50px 35px 10px 35px;
}

.contenedor .boxform{
    width: 100%;
}

.boxform form{
    display: flex;
    width: 400%;
}

.boxform form .page{
    width: 25%;
}

.boxform form .page1{
  z-index: 0;
}

.boxform form .page2{
  z-index: 1;  
}

.boxform form .page3{
  z-index: 2;
}

.boxform form .page .titulo{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.boxform form .page .campo{
    height: 30px;
    width: 330px;
    margin: 35px 0;
    position: relative;
}

.boxform form .page .campo label{
    position: absolute;
    top: -30px;
    font-weight: 500;
}

.boxform form .page .campo textarea{
    position: relative;
    height: 70px;
    width: 100%;
    font-weight: 500;
    border: 1px solid #37B09E;
    resize: none;
    font-size: 18px;  
}

.boxform form .page .campo input{
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1px solid #37B09E;   
    font-size: 18px;  
}


.boxform form .page .campo button{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    background: white;
    border: 4px solid #37B09E;
    font-size: 16px;
    color: #37B09E;
    margin-top: 20px;
}

.boxform form .page .campo a{
  font-size: 16px;
  color: #37B09E;
  margin-top: 20px;
}

.boxform form .page .campo button:hover{
    background: #64DEB3;
    border: 3px solid #37B09E;
    color: white;
}



