<div class="body">
    <div class="contenedor">
        <div class="boxform">
            <form action="">
                <div class="page page1" *ngIf="m1">
                    <label class="titulo">Informe del equipo</label>
                    <div class="campo">
                        <input type="text" placeholder="Titulo">
                    </div>
                    <p></p>
                    <div class="campo">
                        <textarea name="descripcion" id="desc" cols="30" rows="10" placeholder="Descripción"></textarea>
                    </div>
                    <p></p>
                    <div class="campo">
                        <input type="text" placeholder="Estado final">
                    </div>
                    <div class="campo">
                        <button class="btn">Siguiente</button>
                    </div>
                    <div class="campo">
                        <a href="#">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
