.toolbar{
    display: flex;
    background-color: lightseagreen;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.toolbar img{
    align-items: center;
    width: 100px;
}